body {
    background-size: 1400px 700px;
    /* dimensiona la imagen 20px de ancho y 40px de altura */
        }

 body {
    background-color: #444;
    font-family: trebuchet ms;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 40px;
  }
  h1 {
    text-shadow: 0 0 30px #fff;
  }
  input {
    font-size: 1.1em;
    background-color: #ddd;
    border: 3px solid #9fc;
    border-radius: 5px;
    padding: 8px;
    width: 400px;
    box-shadow: 0 0 20px #4f9;
  }
  div {
    padding: 20px;
    background-color: #333;
    color: #ddd;
    width: 300px;
    font-size: 1.2em;
    box-shadow: 0 0 40px #03f;
    border-radius: 16px;
  }